<footer class="w-full flex items-center justify-center  h-16 bg-amber-200">
    <div class="text-center">

        <p class="font-bold">Pet Association © 2024</p>
        <p><a href="/impressum.php">Impressum</a></p>
    </div>
</footer>