<header class="w-full flex items-center justify-center h-16 bg-amber-200 flex-grow-0 flex-shrink-0">
    <h1 class="text-3xl font-medium text-amber-950 ">Pet Emergency Coil</h1>
</header>
<menu class="flex list-none h-10 bg-amber-300 w-full justify-center gap-8 items-center ">
    <li class="hover:text-amber-900 transition-colors duration-100"> <a href="/">Home</a></li>
    <li class="hover:text-amber-900 transition-colors duration-100"><a href="/impressum.php">Impressum</a></li>
</menu>