{% extends "base.twig" %}


{% block title %}Impressum{% endblock %}

{% block content %}
    <h2 class="font-bold text-xl">Impressum</h2>
    <p>Pet Association</p>
    <p>Tierstraße 123</p>
    <p>Tierhausen, 1598 Niederösterreich</p>
    <h2 class="font-bold text-xl mt-4">Kontakt </h2>
    <p>kontakt@pet.at</p>
    <p>+43 1234 56789</p>
{% endblock %}
