{% extends "base.twig" %}


{% block title %}QR Code Generator{% endblock %}

{% block content %}
    <form>
        <label for="phonenumber" hidden>Phone Number</label>
        <div class="mt-4 h-12 w-full flex gap-2 ">
            <input type="tel" name="phonenumber" id="phonenumber" placeholder="+43 1 22 33 444"
                   class="h-full border-amber-600 border-4 rounded flex-grow">
            <button id="submit" type="submit"
                    class="bg-amber-600 text-white p-2 rounded font-medium h-full">Submit
            </button>
        </div>
    </form>

    <div class="bg-amber-100 mt-4">
        <img id="qrcode" alt="QR Code" class="hidden w-full" src="">
    </div>

    <div class="flex flex-col gap-4 mt-4 ">
        {% for tel in ['+43 1234 56789', '+43 9876 54321'] %}
            {{ include('tel.twig') }}
        {% endfor %}
    </div>


{% endblock %}
{% block script %}
    <script>
        const img = document.querySelector('img#qrcode');
        const tel = document.querySelector('input#phonenumber');
        const form = document.querySelector('form');

        form.addEventListener('submit', (event) => {
            event.preventDefault();
            img.src = `qrcode.php?tel=${encodeURIComponent(tel.value || '+43 1 22 33 444')}`;
            img.classList.remove('hidden');
        });
    </script>
{% endblock %}